menu "EVPR Slave Node Configuration"

config ROTOR_NUM 
    int "Rotor Number"
    default 1 
    range 1 4 
    help
	Device Number (1-4).

config ROTOR_MODE 
    int "Rotor Mode"
    default 2 
    range 0 2 
    help
	Device Mode (0-2) 0-Self Test, 1-Position Hold, 2-Nominal.

config BLINK_GPIO 
    int "Status GPIO Pin"
    default 13 
    help
	GPIO pin to use for status light.

config ESPNOW_PMK
    string "ESPNOW primary master key"
    default "pmk1234567890123"
    help
        ESPNOW primary master for the example to use. The length of ESPNOW primary master must be 16 bytes.

config ESPNOW_LMK
    string "ESPNOW local master key"
    default "lmk1234567890123"
    help
        ESPNOW local master for the example to use. The length of ESPNOW local master must be 16 bytes.

config ESPNOW_CHANNEL
    int "Channel"
    default 1
    range 1 13
    help
        The channel on which sending and receiving ESPNOW data.

config ESPNOW_SEND_COUNT
    int "Send count"
    default 100
    range 1 65535
    help
        Total count of unicast ESPNOW data to be sent.

config ESPNOW_SEND_DELAY
    int "Send delay"
    default 1000
    range 0 65535
    help
        Delay between sending two ESPNOW data, unit: ms.

config ESPNOW_SEND_LEN
    int "Send len"
    range 10 250
    default 200
    help
        Length of ESPNOW data to be sent, unit: byte.

endmenu
