menu "EVPR Master Node Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "evpr_master"
    help
	SSID (network name) for the master node.

config WIFI_PASSWORD
    string "WiFi Password"
    default "1234567890"
    help
	WiFi password (WPA or WPA2) for the master node.

config UDP_PKT_SIZE
    int "Size of UDP packet"
    default 4096 
    help
	the data send&recv packet size. 
		
endmenu
