menu "EVPR Node Configuration"

config EVPR_NODETYPE
    int "EVPR Node Type. 0:Head, 1:Rotor, 2:Listener"
    default 0
    range 0 2
    help
        0 -> Head, 1 -> Rotor, 2 -> Listener

config EVPR_NODEID
    int "EVPR Node ID. The node ID 0 is reserved for head. This setting is ignored if in head mode."
    default 1
    range 1 12

config ESPNOW_PMK
    string "ESPNOW primary master key (NOT IMPLEMENTED)"
    default "pmk1234567890123"
    help
        ESPNOW primary master for the example to use. The length of ESPNOW primary master must be 16 bytes.

config ESPNOW_LMK
    string "ESPNOW local master key (NOT IMPLEMENTED)"
    default "lmk1234567890123"
    help
        ESPNOW local master for the example to use. The length of ESPNOW local master must be 16 bytes.

config ESPNOW_CHANNEL
    int "Channel (NOT IMPLEMENTED)"
    default 1
    range 1 13
    help
        The channel on which sending and receiving ESPNOW data.

endmenu
